.btn-common {
  border: 0;
  border-radius: 15px;
  @include font(400, $font-regular, 20px, #ffffff);
  background: transparent;
}


.btn-live-chat {
  @include dim(143px, 40px);
  background-image: $violetGradient;
}

.btn-login {
  background-image: $blueGradient;
  @include dim(120px, 40px);
}

.btn-order-custom-paper{
  background-image: $blueGradient;
  @include font(400, $font-myriad, 20px, #ffffff);
  @include border-radius(16px);
  width: 203px;
  height: 53px;
  margin: 30px auto;
}

.btn-read-more-info {
  @include dim(203px, 53px);
  background-image: $violetGradient;
  margin: 40px 15px;
  @include font(400, $font-myriad, 20px, #ffffff);
  @include border-radius(16px);
}

.btn-read-more{
  @include dim (190px, 50px);
  border: 2px solid #ffffff;
  @include font(400, $font-regular, 25px, #ffffff);
  border-radius: 20px;
}

.btn-oval-comnon{
  background-color: #ffffff;
  border: 1.0px solid;
  @include font(300, $font-regular, 18px);
  padding: 2px 25px;
  border-radius: 12px;
  margin-right: 15px;
}

.btn-oval-blue {
  border-color:  #567be8;
  color: #567be8;
}

.btn-oval-violet{
  border-color: #b85dec;
  color: #b85dec;
}

.btn-oval-pink{
  border-color: #ff4475;
  color: #ff4475;
}
