@import '_variables';
@import "mixins";
@import "media";
@import "_colors";
@import "parts/_buttons";

/*Автоматический размер логотипа*/
.logotip {
  @include dim(100%, auto);
  @include dim-max(341px);
}

header {
  @include font(400, $font-myriad, 85%, #5075e7);
  /*padding-bottom: 75px;*/
}

header hr {
  background-color: #e1e1e1;
  height: 3px;
  border: 0;
}

header nav ul a {
  @include font(300, $font-regular, 18px, #2c3248);
}

header nav li {
  padding: 1px 1px 1px 16px;
}

.foto{
  background: url("../img/foto.png");
  background-repeat: no-repeat;
  background-position: left;
  height: 626px;
}

p{
  margin: 0;
  padding: 0;
}

.welcome {
  @include font(400, $font-regular, 35px, #19152d);
  padding-top: 50px;
}

.great {
  @include font(300, $font-regular, 43px, #5378e8);
}

.custom {
  font-size: 21px;
  color: #19152d;
  margin-bottom: 18px;
}

.get_price {
  background: #ffffff;
  margin: 0 auto;
  @include font (100, $font-regular, 30px, #9824da);
  text-align: center;
}
.box-shadow{
  box-shadow: 2px 3px 8px 0 rgba(185,185,185,0.75);
  width: 336px;
  height: 448px;
  background-color: #ffffff;
  margin: 0 auto;
}

form.get-price-form select {
  @include border-radius(50px);
  border: 1px solid #56a7dd;
  width: 87%;
  margin: 0 auto;
}

form.get-price-form label {
  width: 87%;
  margin: 0 auto;
  display: block;
  color: #19152d;
}

footer{
  background: #30323a;
  color: #FFFFFF;
}

footer nav ul a{
@include font(400, $font-regular, 18px, #ffffff)
}

footer nav li{
  padding: 1px 1px 1px 6px;
}

footer .bottom {
  background-color: #0a1127;
}

footer .footer_us{
  @include font(600, $font-regular, 20px, #ffffff);
  padding: 25px 0;
}

footer .text_end{
  @include font(300, $font-regular, 17px, #ffffff);
  padding-top: 25px;
  line-height: 0;
}

footer .foter_contact{
  @include font(400, $font-regular, 16px, #ffffff);
}

footer .bottom .col {
  padding: 0 15px;
}

footer .foter_contact img {
  margin-right: 10px;
}

footer .information li a{
  @include font(400, $font-regular, 16px, #ffffff);
}

footer ul span{
  color: #8891e3;
}

#subscribe {
  display: inline;
}

#subscribe input[type=text] {
  border: 1px solid #394050;
  border-radius: 25px;
  padding: 0 3.6rem 0 25px;
  color: #FFFFFF;
  font-size: 15px;
  height: 2rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}


#subscribe button {
  background-color: #394050;
  border: none !important;
  box-shadow:none !important;
  height: 2rem;
  width: 3.5rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: -3.5rem;
  @include font(600, $font-regular, 20px, #ffffff);
  line-height: initial;
}

.information{
  list-style: none;
}

p.oops{
  @include font(400, $font-regular, 50px, #2c3248);
}

h1.posts{
  @include font(600, $font-myriad, 50px, #2c3248);
}

span.handy{
  @include font(400, $font-regular, 25px, #2c3248);
}

.tips{
  box-shadow: 2px 3px 8px 0 rgba(156,156,156,0.75);
  margin-bottom: 17px;
  padding: $blog-padding;
}
article.tips img {
  width: calc(100% + 2 * #{$blog-padding});
  margin-left: -$blog-padding;
  height: auto;
}

div.cal-com-share div {
  @include font(400, $font-regular, 20px, #2c3248);
  padding-right: 20px;
  display: inline;
}

.edu-buttons {
  margin: 20px 0;
}

.choose{
  @include font(700, $font-regular, 30px, #5175e7);
  text-transform: uppercase;
}

ul.papers_orig {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.papers_orig li {
  @include font(300, $font-regular, 18px, #2c3248);
  margin: 0;
  padding: 0 0 15px 20px;
}

ul.papers_orig li:before {
  content: '\f00c';
  font-family: FontAwesome;
  color: #6a8ded;
  position: absolute;
  left: calc(10px + #{$blog-padding});
}

.discount{
  @include font (600, $font-regular, 60px, #ff4475);
  line-height: 70px;
}

.discount_off{
  @include font (600, $font-regular, 60px, #b85dec);
  line-height: 70px;
}

.left-arrow {
  position: relative;
  padding-top: 20px;
}

.left-arrow:before{
  content: url("../img/right.svg");
  position: absolute;
  left: -15px;
  top: calc(50% - 19px);
}

.left-arrow.pink:before{
  content: url("../img/right_pink.svg");
}

span.for_more{
  @include font(400, $font-regular, 24px, #2c3248);
}

p.resent-posts{
  @include font(700, $font-regular, 40px, #567be8);
}

p.post{
  @include font(400, $font-regular, 16px, #2c3248);
}

li.page-item{
  box-shadow: 2px 4px 5px 0px rgba(164,164,164,0.75);
  background-color: #ffffff;
  border: 1.0px solid #dadada;
}

a.page-link{
  @include font(400, $font-myriad, 20px, #2c3248);
}
p.since_buyi{
  @include font(300, $font-regular, 18px, #2c3248);
}
p.great_writings{
  @include font(400, $font-regular, 24px, #567be8);
}

ul{
  list-style: none;
}

ul.papers li::before{
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ul.papers li{
  @include font(400, $font-regular, 18px, #2c3248);
}

p.text_for{
  @include font(300, $font-regular, 18px, #2c3248);
}

ol li{
  @include font(400, $font-regular, 18px, #2c3248);
}

.table{
  box-shadow: 2px 4px 5px 0 rgba(187,187,187,0.75);
  background-color: #ffffff;
  border: 1.0px solid #f8f8f8;
}
th.prices{
  @include font(400, $font-regular, 30px, #4b434f)
}

th.prices .nav-link.active{
  @include font(600, $font-regular, 20px, #4b434f)
}

li.divider {
  position: relative;
}
li.divider::before{
  content: " ";
  border: 1px solid #cdcdcd;
  width: 1px;
  height: 100%;
  list-style: none;
  color: transparent;
  position: absolute;
}

th ul.currency {
  @include font(700, $font-regular, 20px, #4b434f);
}
tr.course_table{
  @include font(400, $font-regular,16px, #4b434f);
}

.sony{
  background-color: #ffffff;
  border: 1.0px solid #c2c2c2;
  height: 30px;
  width: 360px;
  border-radius: 15px;
}

p.faq{
  @include font(300, $font-regular,24px,#2c3248);
}

span.will{
  @include font(600, $font-regular, 20px, #2c3248);
}

.juel{
  @include font(700, $font-regular, 20px, #4e4e4e);
}

p.all{
  @include font(400, $font-regular, 18px, #4e4e4e);
}

p.reply{
  @include font(400,$font-regular, 14px, #575757);
}
span.continue{
  @include font(400, $font-regular, 18px, #da3e3c);
}

.message{
  border: 1.0px solid #4e4751;
 border-radius: 15px;
  max-width: 100%;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}
.form-controlName input{
  border: 1.0px solid #4e4751;
  border-radius: 25px;
}


.disser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.disser select{
  height: 30px;
  border: 1px solid #c2c2c2;
  background-color: #ffffff;
  border-radius: 15px;
}

#type {
  width: 30% !important;
}

#num {
  width: 15% !important;
}

#accordionFaq {
  margin-bottom: 20px;
}

#accordionFaq .card {
  border: 0;
}

#accordionFaq .card-body {
  padding-left: 60px;
  position: relative;
}

#accordionFaq .card-body:before {
  content: ' ';
  height: calc(100% - 2.5rem);
  width: 1px;
  position: absolute;
  border-left: 4px dotted #567be8;
  left: 5px;
  top: 1.25rem;
}

#accordionFaq h5 {
  padding: 10px 0 10px 60px;
  cursor: pointer;
}

#accordionFaq h5:before {
  position: absolute;
  content: '\f075';
  font-family: FontAwesome;
  font-size: 25px;
  left: 0;
}

#accordionFaq h5.open:before {
  color: #567be8;
}

#accordionFaq h5:after {
  position: absolute;
  content: '\f128';
  color: #ffffff;
  font-family: FontAwesome;
  font-size: 12px;
  left: 8px;
  top: 16px;
}

h1.order{
  @include font(600, $font-myriad, 50px, #2c3248);
  text-transform: uppercase;
}

.form-section{
  box-shadow: 0 5px 5px rgba(187, 187, 187, 0.75);
  border: 1px solid #f8f8f8;
  background-color: #ffffff;
  margin-bottom: 20px;
  /*display: flex;
  justify-content: center;*/
}

.informationPersonal{
  @include font(700, $font-regular, 25px, #4b434f);
}

.informationPersonal label{
  @include font(400, $font-regular,18px, #4b434f);
}

.informationPersonal input, .informationPersonal select{
  background-color: #ffffff;
  border: 1.0px solid #b7b7b7 !important;
  border-radius: 25px;
}

.informationPersonal select{
  width: 80%;
  -webkit-appearance: menulist-button;
}

.informationPersonal input.valid{
  border-color: #00a651 !important;
  width: calc(100% - 45px);
  display: inline-block;
}

.informationPersonal span.valid::after {
  content: '\f00c';
  @include font(400, FontAwesome, 20px, #00a651);
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
}

.informationPersonal span.invalid::after {
  content: '\f00d';
  @include font(400, FontAwesome, 20px, #ff0000);
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
}

.informationPersonal input.invalid{
  border-color: #ff0000 !important;
  width: calc(100% - 45px);
  display: inline-block;
}

.informationPersonal img {
  margin-left: 15px;
}

.should{
  @include font(300, $font-regular, 18px, #4b434f);
}

.area-code{
  @include font(600, $font-regular, 18px, #4b434f);
}

label.has-question::after {
  content: url("../img/question.png");
  margin-left: 15px;
  left: calc(100% - 20px - 24px);
  position: absolute;
}



.informationPersonal label {
  padding-right: 15px;
}

.informationPersonal label.has-question {
  padding-right: 49px;
}

#cost{
  @include font(900, $font-regular, 16px, #e7861f);
  text-transform: uppercase;
}

.summary{
  @include font(600,$font-regular, 18px, #4b434f);
}

.provide{
  @include font(400, $font-regular, 14px, 4b434f !important);
}

.browse {
  border: 1px solid #b7b7b7;
  background-color: #ffffff;
  background-image: linear-gradient(to top, #ebebeb 0%, #ffffff 100%);
  border-radius: 25px;
  width: 164px;
  height: 33px;
  @include font(300, $font-regular, 14px, #4b434f);
  line-height: initial !important;
}

.writers{
  @include font(400, $font-regular, 14px, #4b434f !important);
}

#discount{
  display: inline;
  width: auto;
}

.order_will{
  @include font(400, $font-regular, 14px, #4b434f);
  line-height: 1.2;
}

.accept{
  @include font(400, $font-regular, 15px,#4b434f !important);
  line-height: 18px;
}

.terms{
  font-weight: 400;
  font-size: 14px;
  text-decoration: blink;
  line-height: 1.2;
}

.form-section {
  border-bottom: none !important;
}

.form-section.bordered .col-md-7, .form-section.bordered .col-7 {
  border-left: 1px solid #f8f8f8;
}

.grand{
  @include font(700, $font-regular, 15px, #4b434f);
  line-height: 18px;
}

.total_price{
  @include font(700, $font-regular, 15px,  #e7861f);
  line-height: 18px;
}